{% load static %}

<!DOCTYPE html>
  <html>
    <head>
      <title>TimerApp</title>
      <link href="{% static 'css/style.css' %}" rel="stylesheet">
      
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
      <div class="topDiv">
        <div class="projectsDiv">
          <select name="projects" class="selectProject">
            <option value="" disabled selected id="defaultOption"></option>
          </select>
          <button id="newProjectButton">New project</button>
          <button id="editModalButton">Edit projects</button>
        </div>

        <div class="logoutDiv">
          <a href="/logout">Log out</a> <!-- TODO Open modal
          Are you sure you want to log out? All your time entries will be stopped-->
        </div>
      </div>

      <div class="projectNotChosen">
        <span>First select a project...</span>
      </div>

      <div class="app">

        <div class="buttonDiv">
          <p id="projectName"></p>
          <button id="timerButton">xd</button>
        </div>

        <div>

        </div>
      </div>

      <div class="logoutModalDiv"></div>


      <div class="createModalDiv">
        <div class="createModal">
          <form class="createForm">
            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">
            <div>
              <input type="text" class="newName" placeholder="Enter project name" name="name" required>
            </div>
            <div>
              <label for="colorPicker">Pick a color:</label>
              <input type="color" class="chooseColor" name="color" value="#D6D6D6">
            </div>
            <div class="formButtons">
              <button type="submit" class="modalButton">submit</button>
              <button type="button" class="modalButton" id="closeCreateModal">close</button> <!-- zrobic zeby to nie wysylalo forma-->
            </div>
          </form>
        </div>
      </div>

      <div class="editModalDiv">
        <div class="editModal">
          <table id="existingProjects">
          </table>
          <button id="closeEditModal" class="modalButton">close</button>
        </div>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/js-cookie@3.0.5/dist/js.cookie.min.js"></script>
      <script type="module" src="{% static 'js/index.js' %}"></script>
    </body>
  </html>