{% load static %}

<!DOCTYPE html>
  <html>
    <head>
      <title>Register</title>
      <link href="{% static 'css/style.css' %}" rel="stylesheet">

      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>
    <body>
      
      <div class="loginContainer">

        <h1>Register</h1>

        <div class="errorContainer"><span class="errorMessage"></span></div>

        <form>
          <input type="text" name="username" placeholder="Enter username">
          <input type="password" name="password" placeholder="Enter password">
          <input type="password" name="password_confirmation" placeholder="Confirm password">
          <button type="submit">Create Account</button>
        </form> 

        <a href="/login" class="refLink">Login here</a>

      </div>

      <script src="{% static 'js/register.js' %}"></script>
    </body>
  </html>