body {
    background-color: rgb(44, 44, 44);
    color: white;
    font-family: "Noto Sans";
    margin: 0;
    padding: 0;
}


/* Login and register user */

.loginContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loginContainer form {
    display: flex;
    flex-direction: column;
}

.loginContainer input {
    background-color: rgb(56, 56, 56);
    border: none;
    margin-top: 10px;
    height: 40px;
    width: 300px;
    padding: 10px;
    color: white;
}

.loginContainer button {
    margin-top: 30px;
    height: 50px;
    background-color: rgb(31, 31, 31);
    color: white;
    border: none;
}

.loginContainer button:hover {
    background-color: rgb(8, 8, 8);
    cursor: pointer;
}

.refLink {
    margin-top: 30px;
    color: rgb(192, 192, 192);
}

.refLink:hover {
    color: rgb(255, 255, 255);
}

.errorContainer, .successContainer {
    margin-top: 10px;
    text-align: center;
}

.errorMessage {
    color: brown;
}

.successMessage {
    color: green;
    font-size: 20px;
}

/* App */

.topDiv {
    display: flex;
    flex-direction: row;
    flex: auto;

    background-color: rgb(58, 58, 58);
    padding: 15px;
    margin: 0;
}

.logoutDiv {
    flex: 1;
    text-align: right;
}

.logoutDiv a {
    color: rgb(143, 143, 143);
    text-decoration: none;
}

.logoutDiv a:hover {
    color: white;
}

.projectsDiv {
    flex: 4;
}

.projectsDiv button, .selectProject {
    height: 30px;
    background-color: rgb(37, 37, 37);
}

.selectProject {
    width: 40%;
    color: rgb(255, 255, 255);
    border: none;
    font-family: "Noto Sans";
}

.selectProject:active {
    background-color: rgb(59, 59, 59);
}

#defaultOption {
    opacity: 50%;
}

.projectsDiv button {
    border: none;
    color: white;
    font-family: "Noto Sans";
}

.projectsDiv button:hover {
    background-color: rgb(94, 94, 94);
    cursor: pointer;
}

/* Creation modal */
    /* Parts of edit modal */
.createModalDiv, .editModalDiv {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}

.createModal, .editModal {
    padding: 30px;
    background-color: rgb(54, 54, 54);
}

.editModal, .createForm div {
    text-align: center;
    color: white;
}

.editModal input, .createForm input, button {
    background-color: rgb(37, 37, 37);
    border: none;
    color: white;
    font-family: "Noto Sans";
}

.createForm .newName {
    height: 30px;
    padding: 5px;
}

.chooseColor {
    margin-top: 15px;
}

.formButtons {
    margin-top: 30px;
}

.modalButton {
    width: 100px;
    height: 40px;
}

.modalButton:hover {
    background-color: rgb(73, 73, 73);
    cursor: pointer;
}

/* Rest of edit modal */
.editModal {
    width: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#closeEditModal {
    margin-top: 10px;
}

.editModal input:hover {
    cursor: pointer;
}

.deleteProjectButton {
    background-color: rgb(105, 15, 15);
    margin-left: 6px;
    height: 30px;
}

.deleteProjectButton:hover {
    background-color: rgb(158, 19, 19);
    cursor: pointer;
}

#existingProjects td {
    text-align: left;
    width: 200px;
}

/* Project not chosen */
.projectNotChosen {
    margin-top: 200px;
    font-size: 40px;
    opacity: 50%;
    display: flex;
    justify-content: center;
    user-select: none;
}

/* App */
.app {
    display: none;
    align-items: center;
    justify-content: center;
}

/* Button div */
.buttonDiv, .secondDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
}

.timerButton {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    font-size: 40px;
}

.timerButton:hover {
    background-color: black;
    cursor: pointer;
}

.activeTimer {
    background-color: rgb(53, 137, 211);
}

.activeTimer:hover {
    background-color: rgb(100, 171, 233);
    cursor: pointer;
}